.parent{
    background-color: lightskyblue;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    background-color: purple;
    border: 2px solid black;
    height: 100px;
}